.login-container .login-form {
  width: 400px !important;
  background-color: #ffffff;
  border-radius: 20px;
}
.dialog-register .el-dialog{
  border-radius: 20px;
  .el-form-item{
    margin-right: 30px;
  }
  .el-dialog__title{
    font-size: 26px;
    font-weight: bold;
  }
}
.dialog-change-pass .el-dialog{
  border-radius: 20px;
  .el-dialog__title{
    font-size: 26px;
    font-weight: bold;
  }
}
//input:-webkit-autofill{
//  -webkit-text-fill-color:unset !important;
//}
#username:-webkit-autofill{
  -webkit-text-fill-color: unset !important;

  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}
#password:-webkit-autofill{
  -webkit-text-fill-color: unset !important;
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;

}
.el-dialog__header {
  text-align: center;
}
